Source: gerrit
Section: contrib/misc
Priority: optional
Maintainer: Marin Atanasov Nikolov <mra@melexis.com>
Build-Depends: debhelper (>> 7)
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/gerrit/

Package: gerrit
Architecture: all
Depends: ${misc:Depends}, adduser, openjdk-6-jre, git-core
Description: Web based code review and project management for Git based projects
 Gerrit is a web based code review system, facilitating online
 code reviews for projects using the Git version control system.
 .
 Gerrit makes reviews easier by showing changes in a side-by-side display,
 and allowing inline comments to be added by any reviewer.
 . 
 Gerrit simplifies Git based project maintainership by permitting any
 authorized user to submit changes to the master Git repository, 
 rather than requiring all approved changes to be merged in by hand by the
 project maintainer.
 .
 This functionality enables a more centralized usage of Git.
